.checkin__container {
    height: 100%;
    background-color: #518B85;
    color: #F3F3F3;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.checkin-app__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    transition: 0.3s ease-in-out;
    border-bottom: solid .5rem #F3F3F3;
    padding-bottom: 2rem;
}
.checkin-app__item h2 {
    font-size: 6vmin;
}
.checkin-app__item h1 {
    font-size: 11vmin;
}
.checkin-app__item.active {
    flex: 1;
    padding-bottom: 0;
}
.checkin-app__item .checkin-app__buttons {
    display: none;
    margin: 0;
    transition: 0.3s ease-in-out;

}
.checkin-app__item.active .checkin-app__buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}
.checkin-app__item.active .checkin-app__buttons button {
    padding: 2vmin 3vmin;
    font-size: 13vmin;
    font-weight: 700;
    background-color: #F3F3F3;
    color: #518B85;
    border: none;
    border-radius: 1rem;
    margin-bottom: 2rem;
}